.imgFeatured {
  width: 19rem;
  border-radius: 1.25rem;
  border: 0.15rem solid #ff8c6f;
  box-shadow: 0.625rem 0.3125rem 0.3125rem 0.0625rem gray;
}

@media screen and (width >= 1200px) {
  .imgFeatured {
    width: 20rem;
    height: 26rem;
  }
  .imgFeatured:hover {
    width: 20.2rem;
    height: 26.4rem;
  }
}
